 @charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

.well {
    background-color: rgba(1, 1, 1, 0.5);
    padding  : 15
}
.badge {
    font-size: 30px;
    background-color: rgb(0, 175, 225);
}



a{
	color: #ccd500;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #a9b119;
}
.clear {
    clear: both;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Lato', 'sans-serif', 'Microsoft JhengHei';
    background-image: url("../img/back-tile.png");
}
b{
	font-weight: 600;
    font-family: 'Lato', 'sans-serif', 'Microsoft JhengHei';
}


/* Titulos
-------------------------------------------------------------------------*/
h1{
	width: 100%;
	font-size: 40px;
	margin-bottom: 25px;
}
h2{
	color: #000000;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}
h2 span{
	font-weight: 400;
}
h3{
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	font-size:40px;
	font-family: 'Lato', 'sans-serif', 'Microsoft JhengHei';
	font-weight: 300;
}
h4{
    display: table-cell;
    float: left;
    font-size: 35px;
    line-height: 31px;
    margin: 0 0 0;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

p.title{
	color: #fff;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}

.grey {	color:#444;}

.header-line {
    width: 100%;
    position: absolute;
    height: 10px;
    background-color: #A48E4E;
    top: 0px;
}

/*
 * Airlines
 */
#plane {
    color: #fff;
	width: 100%;
	position: relative;
	padding: 70px 0px;
    border: 25px solid transparent;
    border-image: url("../img/linear-banner.png") 30 30 round;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    font
}

#plane .content{
    float: left;
    font-size: 50px;
    font-weight: 300;
    line-height: 45px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

#plane .content, footer .content{
	font-family: 'Pathway Gothic One', 'Microsoft JhengHei';
    font-size: 70px;
    font-weight: 300;
    line-height: 80px;
}

#planeMachine {
	height: 73px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}

#richi{
    position: absolute;
    top: 9%;
    left: 48%;
}


#theHand{
    position: absolute;
    top: 5%;
    left: 48%;
    z-index: 1;
    cursor: pointer;
}

#flake {
  animation: snow 4s infinite; }

@-webkit-keyframes snow {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes snow {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@keyframes snow {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}